<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>Owner:</label>
  <input formControlName="owner" />

  <label>VIN:</label>
  <input formControlName="vin" />

  <label>Year:</label>
  <input type="number" formControlName="year" />

  <label>Make:</label>
  <select formControlName="make">
    <option *ngFor="let make of makes" [ngValue]="make">{{ make.name }}</option>
  </select>

  <label>Model:</label>
  <select formControlName="model">
    <option *ngFor="let model of models" [ngValue]="model">{{ model.name }}</option>
  </select>

  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
